<h1>
    Vista --> Controlador POST
</h1>

<form method="post">
    <label>Nombre: </label>
    <input type="text" name="cajanombre"
        class="form-control"/>
    <label>Email: </label>
    <input type="text" name="cajaemail"
        class="form-control"/>
    <label>Edad: </label>
    <input type="text" name="cajaedad"
        class="form-control"/>
    <button class="btn btn-success">
        Enviar información
    </button>
</form>

<h1 style="color:blue">
    @ViewData["DATOS"] 
</h1>

