@model List<int>

<h1>Conjetura Collatz</h1>

<form method="post">
    <label>Introduzca un número</label>
    <input type="number" name="numero"
        class="form-control" required/>
    <button class="btn btn-warning">
        Collatz
    </button>
</form>

@if (Model != null)
{
    <ul>
        @foreach (int num in Model)
        {
            <li>@num</li>
        }
    </ul>
}

