<h1>Sumar Números POST</h1>

<form method="post">
    <label>Número 1: </label>
    <input type="text" name="numero1"
        class="form-control"/>
    <label>Número 2: </label>
    <input type="text" name="numero2"
        class="form-control"/>
    <button class="btn btn-outline-info">
        Sumar números
    </button>
</form>

<h1 style="color:red">
    @ViewData["RESULTADO"]
</h1>