@model List<FilaTablaMultiplicar>

<h1 style="color:blue">
    Tabla Multiplicar
</h1>

<form method="post">
    <label>Introduzca un número</label>
    <input type="number" name="numero"
        class="form-control" required/>
    <button class="btn btn-info">
        Tabla multiplicar
    </button>
</form>

@if (Model != null){
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Operación</th>
                <th>Resultado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (FilaTablaMultiplicar fila in Model)
            {
                <tr>
                    <td>@fila.Operacion</td>
                    <td>@fila.Resultado</td>
                </tr>
            }
        </tbody>
    </table>
}